/* упорядочевание стилей см. csscomb, zen-coding */
/*  CSS preprocessors */

/* Common begin */
body
{
    margin: 0;
    padding: 0;

    font: normal 14px Arial, sans-serif;
}

.pseudo-button
{
    cursor: pointer;

    border-bottom: 1px dashed;
}

.left
{
    float: left;

    width: 40%;
    padding: 20px;
}

.right
{
    float: right;

    width: 40%;
    padding: 20px;
}

.message
{
    padding: 10px;

    border: 1px solid;
}

.message-success
{
    color: green;
    background-color: rgba(0, 128, 0, .10);
}

.message-fail
{
    color: #f00;
    background-color: rgba(255, 0, 0, .10);
}

.message-normal
{
    color: #000;
}
/* Common end */

/* Module Header begin */
.header
{
    position: relative;

    box-sizing: border-box;
    height: 70px;
    padding: 20px;

    background-color: #eee;
}

.header-title
{
    margin: 0;
}

.header-link
{
    text-decoration: none;

    color: #000;
}

.header-currency
{
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 12px;

    color: #f00;
}

.header-layout
{
    position: absolute;
    right: 20px;
    bottom: 10px;
}

/* Module Header end */

/* Module Guestbook begin */
.guestbook
{
    background-color: #fff;
}

.guestbook-form-first-name,
.guestbook-form-message
{
    box-sizing: border-box;
    width: 100%;
}

.guestbook-form-message
{
    height: 100px;

    resize: vertical;
}

.guestbook-panel
{
    padding: 10px;

    text-align: right;

    background-color: #eee;
}
/* Module Guestbook end */

/* Module Gallery begin */
.gallery
{
    padding: 0 20px 20px;

    text-align: center;

    background-color: #ddd;
}

.gallery-title
{
    display: inline-block;
}

.gallery-image
{
    width: 480px;
    height: 360px;

    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
/* Module Gallery end */

/* Draggable begin */
.section.dropzone
{
    border: 3px dashed #ccc;
}

.section.dropzone.receiver
{
    border-color: #7a7a7a;
    background-color: #ccc;
}

.module.draggable
{
    padding: 10px;

    outline: 1px dashed rgba(255, 0, 0, .5);
}

.module.draggable.move
{
    opacity: .5;
}
/* Draggable end */
